.container {
    max-width: 200px;
    background-color: rgb(113, 113, 113);
    padding: 10px;
    border: 10px;
    border-color: blue;
    border-radius: 10px;
    margin: 0 auto; /* Centering the container horizontally */
    margin-top: 100px; /* Adjust this value to center vertically */
}

.results {
    background-color: #dbdbdb;
    display: flex;
    justify-content: flex-end;
}

.button_angka ul {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}
.button{
    grid-template-columns: repeat(1, 1fr);
}
.operator ul {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 0.25fr);
    grid-gap: 5px;
}


.operator button:last-of-type {
    grid-column: span 2; /* Spanning two columns to take up more space */
}

.button_angka button,
.operator button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.operator {
    margin-top: 10px;
}
